# dependencies
/node_modules

# next
/.next
/out
/next-env.d.ts

# opennext / cloudflare
/.open-next
/.wrangler

# local secrets
.dev.vars
.env
.env.local
.env.*.local
.env.*

# misc
*.tsbuildinfo
.DS_Store
